<div class="col-xs-4"></div>
<div class="col-xs-4">
    <h3>レビュー詳細</h3>
    <div class="review-rating" data-score="<%= @review.rate %>"></div>
    <h5>コメント</h5>
    <div class="comment">
        <%= @review.comment %>
    </div>
    <%= form_for @review, url: admins_review_path(@review) do |f| %>
    <%= f.radio_button :release_status, :許可%>
    <%= f.label :許可 %>
    <%= f.radio_button :release_status, :非公開%>
    <%= f.label :非公開 %>
    <div>
        <%= f.submit "変更する"%>
    </div>
    <% end %>
</div>
<script>
$('.review-rating').raty({
    readOnly: true,
    score: function() {
        return $(this).attr('data-score');
    },
    starOff: '<%= asset_path('
    star - off.png ') %>',
    starOn: '<%= asset_path('
    star - on.png ') %>',
    starHalf: '<%= asset_path('
    star - half.png ') %>'
});
</script>