<h3 class="form-title">レビュー一覧</h3>
<table class="table table-striped">
    <tr>
        <th class="col-xs-1">ユーザ名</th>
        <th class="col-xs-2">作品名</th>
        <th class="col-xs-1">エピソードNo.</th>
        <th class="col-xs-5">コメント</th>
        <th class="col-xs-1">公開</th>
        <th class="col-xs-2">作成日時</th>
    </tr>
    <% @reviews.each do |review| %>
    <tr>
        <td class="col-xs-1">
            <%= link_to review.user.name, admins_user_path(review.user) %>
        </td>
        <td class="col-xs-2">
            <%= link_to review.episode.anime.title, admins_anime_path(review.episode.anime) %>
        </td>
        <td class="col-xs-1">
            <%=link_to review.episode.episode_number, edit_admins_anime_episode_path(review.episode.anime, review.episode) %>
        </td>
        <td class="col-xs-5 comment">
            <%=link_to review.comment, edit_admins_review_path(review), class:"comment" %>
        </td>
        <td class="col-xs-1">
            <%=review.release_status %>
        </td>
        <td class="col-xs-2">
            <%= review.created_at.to_s(:datetime_jp)%>
        </td>
    </tr>
    <% end %>
</table>
<%= paginate @reviews %>