<div class="col-xs-4"></div>
<div class="col-xs-4">
<%= render 'layouts/error_messages', model: @user %>
    <h5>名前</h5>
    <%= form_for @user, url: user_path(@user) do |f| %>
    <%= f.text_area :name ,rows:1, cols: 50%>
    <%= f.submit "修正する", class: "btn btn-warning"%>
    <% end %>
    <%= link_to(users_confirmation_path) do %>
    <button class="btn btn-danger">退会する</button>
    <% end %>
</div>


