<div class="container">
    <div class="row" style="border-bottom: 2px solid #f96167">
        <div class="col-md-3"></div>
        <h2 class="col-md-6">
            <%= @user.name%>さんのページ</h2>
        <% if user_signed_in? && current_user.id == @user.id %>
        <div class="col-md-2">
            <%= link_to(edit_user_path) do %>
            <button type="button" class="btn btn-warning"><i class="fas fa-wrench">会員情報変更</i></button>
            <% end %>
        </div>
        <% end %>
    </div>
</div>
<div class="row" style="margin-top:50px">
    <div class="col-md-6 col-xs-12">
        <h4 class="form-title">お気に入り</h4>
        <%= render 'my_lists/my_list_list', my_lists: @my_lists%>
    </div>
    <div class="col-md-6 col-xs-12">
        <h4 class="form-title">レビュー一覧</h4>
        <%= render 'reviews/review_list', reviews: @reviews %>
    </div>
</div>
</div>
<script>
$('.review-rating').raty({
    readOnly: true,
    score: function() {
        return $(this).attr('data-score');
    },
    starOff: '<%= asset_path('star-off.png') %>',
    starOn: '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>'
});
</script>