
<h1 class="form-title"><%= @anime.title %></h1>
  <%= link_to ">>back", anime_path(@anime) , class:"back"%>
   <% @episodes.each do |episode| %>
    <%= link_to anime_episode_path(@anime, episode) do%>
      <div class="row episode-box">
        <div class="col-xs-4">
          <%= attachment_image_tag(episode, :image, fallback: "no_image.jpg", size:'200x150',  format: "jpg")%>
        </div>

        <div class="col-xs-8">
          <h4><%= episode.subtitle %></h4>
          <%= episode.explanation %>
        </div>
        <div class="review-rating col-xs-12" data-score="<%= episode.reviews.average(:rate).to_f.round(1) %>"></div>
      </div>
    <% end %>
   <% end %>

<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
   starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>'
  });
</script>
