<h1 class="form-title"><%= @episode.anime.title %></h1>
<h2><%= @episode.subtitle %><div class="review-rating" data-score="<%= @episode.reviews.average(:rate).to_f.round(1) %>"></div></h2>
<%= @episode.explanation %>
<div class="row">
<%= link_to "レビューする", new_anime_episode_review_path(@episode.anime, @episode)%>


レビュー一覧
<table>
<% @reviews.each do |review|%>
<tr>
<td>
<%= review.comment %>
<%= link_to review.user.name, user_path(review.user)%>
<div class="review-rating" data-score="<%= review.rate %>"></div>
<%= review.release_status %>
</td>
</tr>
<% end %>
</table></div>

<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>

