<h1>Episodes#show</h1>
<p>Find me in app/views/episodes/show.html.erb</p>
エピソード詳細
<%= @episode.subtitle %>
<%= @episode.explanation %>

<%= link_to "レビューする", new_anime_episode_review_path(@episode.anime, @episode)%>


レビュー一覧
<table>
<% @reviews.each do |review|%>
<tr>
<td>
<%= review.comment %>
<%= link_to review.user.name, user_path(review.user)%>
<div class="review-rating" data-score="<%= review.rate %>"></div>
</td>
</tr>
<% end %>
</table>
<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>

