<table class="table table-striped">
<tr>
<th>会員ID</th>
<th>会員名</th>
<th>会員メールアドレス</th>
<th>ステータス</th>
</tr>
<% @users.each do |user| %>
<tr>
<td class="col-xs-1"><%= user.id %></td>
<td class="col-xs-3"><%=link_to user.name, edit_admins_user_path(user) %></td>
<td class="col-xs-6"><%= user.email%></td>
<td class="col-xs-3"><%= user.withdrawal_status %>

</td>
</tr>
<% end %>
</table>
<%= paginate @users %>