<table class="table table-striped">
<tr>
<th>会員ID</th>
<th>会員名</th>
<th>会員メールアドレス</th>
<th>ステータス</th>
</tr>
<% @users.each do |user| %>
<tr>
<td><%= user.id %></td>
<td><%=link_to user.name, admins_user_path(user) %></td>
<td><%= user.email%></td>
<td><%= user.withdrawal_status %>

</td>
</tr>
<% end %>
</table>
<%= paginate @users %>