<h3 class="form-title">アニメ一覧</h3>
<table class="table table-striped">
    <tr>
        <th>作品ID</th>
        <th>作品名</th>
        <th>エピソード数</th>
        <th>公開ステータス</th>
    </tr>
    <% @animes.each do |anime| %>
    <tr>
        <td>
            <%= anime.id %>
        </td>
        <td>
            <%= link_to anime.title,admins_anime_path(anime) %>
        </td>
        <td>
            <%= anime.episodes.count %>
        </td>
        <td>
            <%= anime.display_status%>
        </td>
    </tr>
    <% end %>
</table>
<%= paginate @animes %>
<%= link_to  new_admins_anime_path ,class: "btn btn-info" do%>
<i class="fas fa-plus-circle"><span>新規作品追加</span></i>
<% end %>