
<table class="table table-striped">
<tr>
<th>作品ID</th>
<th>作品名</th>
<th>エピソード数</th>
<th>公開ステータス</th>
</tr>
<% @animes.each do |anime| %>
<tr>
<td><%= anime.id %></td>
<td><%= link_to anime.title,admins_anime_path(anime) %></td>
<td><%= anime.episodes.count %></td>
<td><%= anime.display_status%></td>
</tr>
<% end %>
</table>
<%= paginate @animes %>
<%= link_to "新規作品追加", new_admins_anime_path ,class: "btn btn-info"%>

