<div class="col-xs-3"></div>
<div class="col-xs-6">
    <%= render 'layouts/error_messages', model: @anime %>
    <h3>新規投稿</h3>
    <%= form_for [:admins, @anime] do |f| %>
    <h5>イメージ画像</h5>
    <%= f.attachment_field :image %>
    <h5>タイトル</h5>
    <%= f.text_area :title, rows:1, cols:40 %>
    <h5>あらすじ</h5>
    <%= f.text_area :explanation, rows:10, cols:40 %>
    <h5>公開ステータス</h5>
    <%= f.radio_button :display_status, :公開%>
    <%= f.label :公開 %>
    <%= f.radio_button :display_status, :非公開%>
    <%= f.label :非公開 %>
    <div>
        <%= f.submit "新規登録"%>
        <% end %>
    </div>
</div>
<div class="col-xs-3"></div>