<div class="col-xs-4"></div>
<div class="col-xs-4">
    <%= render 'layouts/error_messages', model: @anime %>
    <h3>新規投稿</h3>
    <%= form_for [:admins, @anime] do |f| %>
    <h5>イメージ画像</h5>
    <%= f.attachment_field :image %>
    <h5>タイトル</h5>
    <%= f.text_area :title, rows:1, cols:50 %>
    <h5>あらすじ</h5>
    <%= f.text_area :explanation, rows:10, cols:50 %>
    <h5>公開ステータス</h5>
    <div class="col-xs-4">
        <%= f.radio_button :display_status, :公開%>
        <%= f.label :公開 %>
    </div>
    <div class="col-xs-1"></div>
    <div class="col-xs-4">
        <%= f.radio_button :display_status, :非公開%>
        <%= f.label :非公開 %>
    </div>
    <div>
        <%= f.submit class:"btn btn-primary" do%>
        <i class="fas fa-plus">新規投稿</i>
        <% end %>
        <% end %>
    </div>
</div>
<div class="col-xs-3"></div>