<%= attachment_image_tag(@anime, :image, :fill,150,150, fallback: "no_image.jpg", size:'150x150',  format: "jpg")%>
<%= @anime.title %>
<%= @anime.explanation %>
<%= link_to "編集する", edit_admins_anime_path(@anime)%>

<h4>エピソード数</h4>
<%= @anime.episodes.count %>
<div class="row">
<div class="col-xs-5">
<h4>新規エピソード追加</h4>
<table>
<%= form_for [:admins, @anime, @episode] do |f| %>
<tr>
<td>イメージ画像</td>
<td><%= f.attachment_field :image %></td>
</tr>
<tr>
<td></td>
<td>第<%= f.text_area :episode_number, rows:1, cols:2%> 話</td>
</tr>
<tr>
<td>サブタイトル</td>
<td><%= f.text_area :subtitle, rows:1, cols:40%></td>
</tr>
<tr>
<td>説明文</td>
<td><%= f.text_area :explanation, rows:10, cols:40%></td>
</tr>

<td><%= f.submit%></td>
<% end %>
</table></div>

<div class="col-xs-5">
<h4>エピソード一覧</h4>
<table class="table table-striped">
<tr>
<th>エピソード番号</th>
<th>サブタイトル</th>
<th>総レビュー数</th>
</tr>
<% @anime.episodes.each do |episode| %>
<tr>
<td><%= episode.episode_number %></td>
<td><%= link_to episode.subtitle, admins_anime_episode_path(@anime, episode) %></td>
<td><%= episode.reviews.count%></td>
</tr>
<% end %>
</table>
</div>


</div>
