<div class="col-xs-4"></div>
<div class="col-xs-4">
 <h3>エピソード編集</h3>
<%= render 'layouts/error_messages', model: @episode %>
<%= form_for @episode, url: admins_anime_episode_path(@anime,@episode), method: :patch do |f| %>
<h5>イメージ画像</h5>
<%= f.attachment_field :image %>
<h5>エピソード番号</h5>
<span>第<%= f.text_field :episode_number ,class:"number-box"%> 話</span>
<h5>サブタイトル</h5>
<%= f.text_area :subtitle, rows:1, cols:40%>
<h5>あらすじ</h5>
<%= f.text_area :explanation, rows:10, cols:40%>
<%= f.submit "修正する", class:"btn btn-warning admin-anime-edit"%>
<% end %>
</div>

