<div class="col-xs-3"></div>
<div class="col-xs-6">
<%= form_for @episode, url: admins_anime_episode_path(@episode) do |f| %>
<%= f.attachment_field :image %>
<span>第
    <%= f.text_area :episode_number%> 話</span>
<h5>サブタイトル</h5>
<%= f.text_field :subtitle%>
<h5>説明文</h5>
<%= f.text_area :explanation%>
<%= f.submit%>
<% end %>
</div>
