<%= form_for @episode, url: admins_anime_episode_path(@episode) do |f| %>
 <%= f.attachment_field :image %>
<span>第<%= f.text_area :episode_number%> 話</span>
サブタイトル<%= f.text_field :subtitle%>
説明文<%= f.text_area :explanation%>
<%= f.submit%>
<% end %>