<h1>Animes#show</h1>
<p>Find me in app/views/animes/show.html.erb</p>
<div class="table">
<%= attachment_image_tag(@anime, :image, :fill,150,150, fallback: "no_image.jpg", size:'150x150',  format: "jpg")%>
<h3><%= @anime.title%></h3>
<%= @anime.explanation %>
<% @sum = 0 %>
<% @anime.episodes.each do |episode| %>
<% episode_rate = episode.reviews.average(:rate).to_f.round(1)%>
<% (@sum+=episode_rate) %>
<% end %>
<% if @anime.episodes.count != 0 %>
  <div class="review-rating" data-score="<%= @sum/@anime.episodes.count %>"></div>
<% else %>
  <p>評価なし</p>
<% end  %>
</div>




<%= link_to "エピソードを選択", anime_episodes_path(@anime)%>
<div>マイリスト追加</div>
    <% if !MyList.exists?(user_id:current_user.id, anime_id: @anime.id) %>
    <%= link_to "お気に入り",anime_my_lists_path(@anime),method: :post %>
    <% else %>
    <%= link_to "お気に入り解除",anime_my_list_path(@anime),method: :delete %>
    <% end %>
<div>視聴可能サービス</div>
<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>
