<div class="container">
<div class="row show-anime-box">
  <h1><%= @anime.title%></h1>
    <div class="col-md-4 col-xs-12">
      <%= attachment_image_tag(@anime, :image, fallback: "no_image.jpg", width: '100%', height: '200px',  format: "jpg")%>
    </div>
    <div class="col-md-8 col-xs-12">
    <%= @anime.explanation %>
    <% @sum = 0 %>
    <% @anime.episodes.each do |episode| %>
      <% episode_rate = episode.reviews.average(:rate).to_f.round(1)%>
      <% (@sum+=episode_rate) %>
    <% end %>
    <% if @anime.episodes.count != 0 %>
      <div class="review-rating" data-score="<%= @sum/@anime.episodes.count %>"></div>
    <% else %>
      <p>評価なし</p>
    <% end  %>
    </div>
</div>



<div class="row">
<div class="col-md-1"></div>
  <%= link_to anime_episodes_path(@anime),class:"show-box" do %>
    <div class="col-md-8 col-xs-8 box2 ">
     <i class="fas fa-book-open fa-4x">エピソードを選択</i>
    </div>
  <% end %>
  <% if !MyList.exists?(user_id:current_user.id, anime_id: @anime.id) %>
    <%= link_to anime_my_lists_path(@anime),method: :post,class:"show-box" do%>
    <div class="col-md-1"></div>
      <div class="col-md-8 col-xs-8 box2 ">
        <i class="fas fa-plus fa-4x">お気に入り追加</i>
      </div>
    <% end %>
  <% else %>
    <%= link_to anime_my_list_path(@anime),method: :delete,class:"show-box" do %>
    <div class="col-md-1"></div>
      <div class="col-md-8 col-xs-8 box2 ">
        <i class="fas fa-check fa-4x">お気に入り済み</i>
      </div>
    <% end %>
    <% end %>
</div>
</div>

<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
   starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>'
  });
</script>
