<div class="col-xs-4"></div>
<div class="col-xs-5">
    <%= render 'layouts/error_messages', model: review %>
    <%= form_for [anime, episode, review], url: anime_episode_reviews_path(anime,episode) do |f| %>
    <div class="form-group row" id="star">
        <%= f.label :rate,'評価 ', class:'col-md-3 col-form-label' %>
        <%= f.hidden_field :rate, id: :review_star %>
    </div>
    <h5>感想</h5>
    <%= f.text_area :comment, rows:10, cols:40 %>
    <h5>公開ステータス</h5>
    <%= f.radio_button :private_status, :公開%>
    <%= f.label :公開 %>
    <%= f.radio_button :private_status, :プライベート%>
    <%= f.label :プライベート %>
    <%= f.submit "投稿する"%>
    <% end %>
</div>
<script>
$('#star').raty({
    size: 60,
    starOff: '<%= asset_path('star-off.png') %>',
    starOn: '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'review[rate]',
    half: true,
});
</script>