<div class="col-xs-3"></div>
<div class="col-xs-5 edit-form">
    <%= render 'layouts/error_messages', model: @review %>
    <%= form_for [@anime, @episode, @review], url: anime_episode_review_path do |f| %>
    <div class="form-group row" id="star">
        <%= f.label :rate,'評価 ', class:'col-md-3 col-form-label' %>
        <%= f.hidden_field :rate, id: :review_star %>
    </div>
    <div class="row">
        <%= f.label :comment,'感想', class:'col-md-3 col-form-label'%>
        <%= f.text_area :comment, rows:5, class: "col-xs-12"%>
    </div>
    <%= f.label :private_status, '公開ステータス'%>
    <div style="margin:10px;">
        <div class="col-xs-6">
            <%= f.radio_button :private_status, :公開%>
            <%= f.label :公開 %>
        </div>
        <div class="col-xs-6">
            <%= f.radio_button :private_status, :プライベート%>
            <%= f.label :プライベート %>
        </div>
    </div>
    <%= f.submit "変更する" , class:"btn btn-primary"%>
    <%= link_to anime_episode_review_path, method: :delete do %>
    <button class="btn btn-danger">削除</button>
    <% end %>
    <% end %>
</div>
<script>
$('#star').raty({
    size: 60,
    starOff: '<%= asset_path('star-off.png') %>',
    starOn: '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'review[rate]',
    half: true,
});
</script>