<!DOCTYPE html>
<html>
  <head>
    <title>Animerter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top" style="background-color: #C0C0C0;">
        <div class="conteiner">
            <div class="row" style="margin-right: 60px">
                <nav class="nav navber-nav navbar-left">
                    <div class="logo">
                        <%= link_to image_tag('logo.png', :width => '200', :height => '150' ), '/' %>
                    </div>
                </nav>
                <nav>
                  <ul class="nav navbar-nav navbar-right">
                    <% if admin_signed_in? %>
                        <li>
                          <%= link_to admins_animes_path  do%>
                          <i class="fas fa-film">アニメ一覧</i>
                          <% end %>
                        </li>
                        <li>
                          <%= link_to admins_users_path do%>
                          <i class="fas fa-users">ユーザ一覧</i>
                          <% end %>
                        </li>
                        <li>
                          <%= link_to admins_reviews_path do %>
                          <i class="far fa-comments">レビュー一覧</i>
                          <% end %>
                        </li>
                        <li>
                          <%= link_to destroy_admin_session_path, method: :delete do%>
                          <i class="fas fa-sign-out-alt">ログアウト</i>
                          <% end %>
                        </li>
                    <% elsif user_signed_in? %>
                        <li>
                          <p class="welcome">ようこそ、<%= current_user.name%>さん!</p>
                        </li>
                        <li>
                          <%= link_to "About",about_path %>
                        </li>
                        <li>
                          <%= link_to"マイページ" ,user_path(current_user) %>
                        </li>
                        <li>
                          <%= link_to"アニメ一覧", animes_path %>
                        </li>
                        <li>
                          <%= link_to"ログアウト",destroy_admin_session_path, method: :delete %>
                        </li>
                    <% else %>
                        <li>
                          <%= link_to"About",about_path %>
                        </li>
                        <li>
                          <%= link_to"アニメ一覧", animes_path %>
                        </li>
                        <li>
                          <%= link_to"新規登録", new_user_registration_path %>
                        </li>
                        <li>
                          <%= link_to"ログイン", new_user_session_path %>
                        </li>
                    <% end %>
                  </ul>
                </nav>
            </div>
        </div>
    </header>
<div class="margin" style="margin-top: 150px"></div>

<div class="container"><%= yield %></div>

  </body>
</html>
